body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:20px; 
}
.image{
    width:150px;

}
.main{

    width:400px;
    margin:0 auto;
    padding:20px;
    display:flex;
    justify-content:space-around;
    text-align:center;
    background:#ddebf8;
    color:#2b2839;
    border-bottom:6px solid #d8cefe;
}
.title{
    font-size:24px;
    font-weight:bold;
    margin-bottom:5px;
}